body {
	background: #ECF3F5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;

}

.add_category h2 {
	text-align: center;
    font-size: 2rem;
    margin: 25px;
}
.add_category span{
    display: inline-block;
}
.add_category .button {
	border-radius: 20px;
	border: 1px solid #3ea8ff;
	background-color: #3ea8ff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.add_category .button:active, .add_category .button:focus {
	transform: scale(0.95);
	outline: none;
}

.add_category form {
	background-color: #FFFFFF;
	display: flex;
	align-items: left;
	justify-content: left;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
}

.add_category {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 60vw;
	max-width: 100%;
	min-height: 70vh;
    margin-top: 40px;
    margin-bottom: 80px;
}

.message{
    margin-bottom: 20px;
    color: red;
}

.add_category ul li{
	list-style-type: none;
}
.form-control{
	margin:-10px 0;
}