{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/css/index_style.css">
{% endblock %}
{% block content %}

<section id='introduction'>
    <h5>&lt;introduction&gt;</h5>
    <h5 class='h5-bottom'>&lt;/introduction&gt;</h5>
</section>

<section id='description'>
    <h5>&lt;description&gt;</h5>
    <h5 class='h5-bottom'>&lt;/description&gt;</h5>
</section>

<section id='conclusion'>
    <h5>&lt;conclusion&gt;</h5>
    <h5 class='h5-bottom'>&lt;/conclusion&gt;</h5>
</section>
{% endblock %}